<div class="fill flex-center bg-color" style="flex-direction: column;">

  <div [style.display]="page === 'firstPage' ? 'block' : 'none'" class="border">

    <div style="text-align: center;">
      <h1 class="title">Exercise Interval</h1>
      <div style="font-size: 3.5rem; color: white;">
        <div style="display: flex;">
          <div style="width: 45%; text-align: end;" tabIndex="0" (click)="focus(input1.tabIndex)" #input1 class="custom-input">00</div>
          <span style="width: 10%;">:</span>
          <div style="width: 45%; text-align: start;" tabIndex="1" (click)="focus(input2.tabIndex)" #input2 class="custom-input">00</div>
        </div>
        <div style="font-size: 1rem; display: flex;">
          <div style="width: 45%;">
            <span style="margin-left: 35%;">mm</span>
          </div>
          <div style="width: 10%;"></div>
          <div style="width: 45%;">
            <span style="margin-right: 35%;">ss</span>
          </div>
        </div>
      </div>
    </div>

    <div style="text-align: center;">
      <h1 class="title">Rest Interval</h1>
      <div style="font-size: 3.5rem; color: white;">
        <div style="display: flex;">
          <div style="width: 45%; text-align: end;" tabindex="2" (click)="focus(input3.tabIndex)" #input3 class="custom-input">00</div>
          <span style="width: 10%;">:</span>
          <div style="width: 45%; text-align: start;" tabindex="3" (click)="focus(input4.tabIndex)" #input4 class="custom-input">00</div>
        </div>
        <div style="font-size: 1rem; display: flex;">
          <div style="width: 45%;">
            <span style="margin-left: 35%;">mm</span>
          </div>
          <div style="width: 10%;"></div>
          <div style="width: 45%;">
            <span style="margin-right: 35%;">ss</span>
          </div>
        </div>
      </div>
    </div>

    <div class="showIfMobile" style="margin: 8% 0;">
      <div style="display: flex;">
        <div (click)="buttonPressed(1)" class="button-pad">1</div>
        <div (click)="buttonPressed(2)" class="button-pad">2</div>
        <div (click)="buttonPressed(3)" class="button-pad">3</div>
      </div>
      <div style="display: flex;">
        <div (click)="buttonPressed(4)" class="button-pad">4</div>
        <div (click)="buttonPressed(5)" class="button-pad">5</div>
        <div (click)="buttonPressed(6)" class="button-pad">6</div>
      </div>
      <div style="display: flex;">
        <div (click)="buttonPressed(7)" class="button-pad">7</div>
        <div (click)="buttonPressed(8)" class="button-pad">8</div>
        <div (click)="buttonPressed(9)" class="button-pad">9</div>
      </div>
      <div style="display: flex; justify-content: center;">
        <div (click)="buttonPressed(0)" class="button-pad" style="width: 23%;">0</div>
      </div>
    </div>

    <div style="text-align: center;">
      <button (click)="goToSecondPage()" class="button-styling">Start timer</button>
    </div>

  </div>

  <div [style.display]="page === 'secondPage' ? 'block' : 'none'">
    <span style="font-size: 2rem; color: white;">
      {{ timerType }}
    </span>
  </div>
  <div class="timer-width" [style.display]="page === 'secondPage' ? 'block' : 'none'">
    <circle-progress [percent]="percentComplete"></circle-progress>
  </div>
  <div style="position: absolute;" [style.display]="page === 'secondPage' ? 'block' : 'none'">
    <div class="clock-display">
      <div style="display: flex;">

        <div>{{displayMinutes | padPipe}}</div>
        <span>:</span>
        <div class="rightNumberWidth">{{displaySeconds | padPipe}}</div>

      </div>
    </div>
    <div style="text-align: center; margin-top: 3vh;">
      <fa-icon (click)="togglePause()" style="font-size: 2rem; color: white; cursor: pointer;" [icon]="paused ? faPlay : faPause"></fa-icon>
    </div>
  </div>
  <div style="display: flex; justify-content: space-between; width: 300px;" [style.display]="page === 'secondPage' ? 'flex' : 'none'">
    <fa-icon (click)="goToFirstPage()" [icon]="faTimes" style="color: red; font-size: 3rem; cursor: pointer;"></fa-icon>
    <fa-icon (click)="skipToNextInterval()" [icon]="faForward" style="color: black; font-size: 3rem; cursor: pointer;"></fa-icon>
  </div>


</div>